$primary-color: #444;
.navBar {
  height:80px;
  background: $primary-color;
  padding:0 !important; /* remove padding so navbar doesnt have outside guttering */
}
.navRow {
  height: 100%;
  padding-right: 0 !important;
}
.scriptTitle{
  line-height: 80px;
  text-indent: 30px;
  font-weight: 100;
}
.statusBar {
  width:50%;
}

.rightSideBar {
  display: flex;
  justify-content: flex-end;
}
