.statusContainer {
  display: flex;
}
.status {
  display: block;
}
.completionContainer {
  width:100%;
  margin-top: 10px;
  height:2px;
  background: #555;
}
.statusBarOuter {
  width: 100%;
}
.completed {
  background: #00BD26;
  height:2px;
}
.statusArea {
  padding-right: 15px;
  padding-left: 15px;
  background: #333;
  height: 80px;
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.statusBar {
  width: 100%;
  display:flex;
  align-items: center;
  flex-direction: row;
}
.statusNumber {
  padding-left: 10px;
}
.passedTask {
  text-align: center;
  height:80px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #34ED56;
}
.failedTask {
  height:80px;
  text-align: center;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #FF6A51;
}
