.console {
  height: 100%;
  overflow: scroll;
  font-family: 'Roboto', 'Lucida Grande', 'sans-serif';
  font-weight: 100;
  font-size: 14px;
  padding: 30px;
}
.consoleData {
  width: 100%;
  text-align: left;
  table-layout: auto;
  border-collapse: collapse;
  min-height: 100%;
}
.fillRemainder {
  height: 100%;
}

.timestamp-filler {
  color:#fff;
  background: #333;
  padding:7.5px 0;
  position: relative;
  text-align: right;
  vertical-align: top;
}
