.consoleButton {
  width: 40px;
  height:40px;
  position: absolute !important;
  right:0;
  top:-40px;
  background: #444;
}
.consoleArea {
  left:0px;
  bottom: 0px;
  position: relative;
  width: 100%;
  right:0px;
}
.consoleView {
  width:100%;
  min-height: 0px;
  height:100%;
  background: #333;
}
