.buttonListContainer {
  display:flex;
  height: 80px;
}
.playButton,.stopButton,.newButton,.viewButton {
  padding: 0 30px;
}
.playButton svg ,.stopButton svg ,.newButton svg, .viewButton svg {
  fill: #fff !important;
}
.playButton {
  background: #61FF51 !important;
}
.playButton:hover {
  background: lighten(#61FF51, 5%) !important;
}
.stopButton {
  background: #FF6A51 !important;
}
.stopButton:hover {
  background: lighten(#FF6A51, 5%) !important;
}
.newButton {
  background: #ccc !important;
}
.newButton svg {
  fill: #333;
}
.newButton:hover {
  background: #333 !important;
}
.viewButton {
  background: #5198FF !important;
}
.viewButton:hover {
  background: lighten(#5198FF, 5%) !important;
}
